name: CI Pipeline

on:
  push:
    branches:
      - main
      - developer
  pull_request:
    branches:
      - main
      - developer

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install basic dependencies
        run: |
          python -m pip install --upgrade pip
          # pip install -r requirements.txt 

      - name: Environment Check
        run: |
          echo "Environment for branch ${{ github.ref }} is ready!"
          echo "Unit tests skipped for now."